body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #333;
    -moz-osx-font-smoothing: greyscale;
}
path {
    fill: none;
    stroke: #333;
    stroke-width: 0.7px;
}
